.option {
	margin: 20px;
	display: flex;
	flex-direction: row;

	white-space: nowrap;

	font: 900 18px var(--font-mono);
	color: var(--accent);

	max-height: 20px;
}

.option select {
	width: 100%;
}

.option input {
	width: 100%;
}

.remove {
	margin-left: 20px;
	text-align: center;
	width: 30px;

	font: 900 18px var(--font-mono);
	color: var(--accent-alt);

	background-color: transparent;
	border: 1px solid var(--accent-alt);
}

.remove:hover {
	color: var(--accent);
	border: 1px solid var(--accent);
}

.add {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	text-align: center;
	width: calc(100% - 40px);

	font: 900 18px var(--font-mono);
	color: var(--accent-alt);

	background-color: transparent;
	border: 1px solid var(--accent-alt);
}

.add:hover {
	color: var(--accent);
	border: 1px solid var(--accent);
}