:root {
	--font: "Lato", sans-serif;
	--font-light: "Lato-Light", sans-serif;
	--font-bold: "Lato-Bold", sans-serif;
	--font-wall-e: "Arial", sans-serif;
	--font-mono: "Courier New", Courier, monospace;
	--background-color-primary: #000;
	--foreground-color-primary: #fff;
	--text-color-primary: #006d09;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color-primary: #000;
		--foreground-color-primary: #fff;
	}
}