:root {
	--font: "Lato", sans-serif;
	--font-light: "Lato-Light", sans-serif;
	--font-bold: "Lato-Bold", sans-serif;
	--font-wall-e: "Arial", sans-serif;
	--font-mono: "Courier New", Courier, monospace;
	--background-color-primary: #000;
	--foreground-color-primary: #fff;
	--background-color-secondary: #222;
	--foreground-color-secondary: #fff;
	--text-color-primary: #006d09;
}

html,
body,
:root,
.root,
.container {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;

	background-color: var(--background-color-primary);
	overflow: hidden;
}

.console-input {
	position: absolute;
	bottom: 0px;
	padding: 10px;
	left: 0;
	width: 100%;
	height: 20px;

	border: none;
	outline: none;
	background-color: var(--background-color-secondary);

	font-family: var(--font-mono);
	font-size: 1rem;
	font-weight: 900;
	color: var(--text-color-primary);
}