.frame {
	position: absolute;
	border: 1px solid var(--accent);
}

.title-bar {
	display: flex;
	flex-direction: row;

	color: var(--accent);
	font: 900 16px var(--font-mono);
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;

	height: 15px;
	max-height: 15px;
}

.handle {
	padding-top: 2px;
	padding-right: 10px;
	margin: 0px;
}

.drag {
	cursor: move;
}

.close {
	cursor: pointer;
}