.option {
	margin: 20px;
	display: flex;
	flex-direction: row;

	white-space: nowrap;

	font: 900 18px var(--font-mono);
	color: var(--accent);

	height: 20px;
	max-height: 20px;
}

.option select {
	width: 100%;
}

.option input {
	width: 100%;
}

input[type="number"] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}